.slick-track {
    text-align: justify;
}


.hero-icons {
    text-align: center;
    font-size: 60px;
}

.hero-icon-text {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}